---
import { Text } from '../components/Text';
import Icon from './Icon.astro';
import Links from '../templates/Links.astro';

const { data } = Astro.props;
---

<section class="pb-5 p-5">
    <div class="flex">
        <div class="w-3/6">
            <img
                src={data.avatar_url}
                alt={data.name}
                class="rounded-full w-72 border-2 border-highlight_300 shadow-lg shadow-highlight_300 dark:border-lightblue_600 dark:shadow-lightblue_600"
            />
        </div>
        <div class="mt-3">
            <Text client:load text="hello" type="header" customClasses="text-center" />

            <span class="inline-flex items-center">
                <Text client:load text="whoami" />
                <Text client:load type="bold" text={data.name} customClasses="ml-1" />
            </span>

            <Text client:load text="about" />

            <span class="inline-flex items-center">
                <Text client:load text="company" type="link" href="https://fansunite.com/" />
                <Text client:load text="role" customClasses="ml-1" />
            </span>

            <div class="flex justify-center mb-20 mt-5 gap-5">
                <Links title="Linkedin" href="https://www.linkedin.com" icon="gg-work-alt" />
                <Links title="Resume" href="https://github.com" icon="gg-file-document" />
            </div>
        </div>
    </div>
</section>
