---
const { text, customClasses, type } = Astro.props;

const textType = (type: 'bold' | 'body' | 'italic') => {
    switch (type) {
        case 'bold':
            return 'text-lg font-bold';
        case 'italic':
            return 'text-sm font-italic';
        default:
            return '';
    }
};
---

<p class={`text-bg_dark dark:text-bg_white font-montserrat ${customClasses ?? ''} ${textType(type)}`}>
    {text}
</p>
